lign-items: center;
   box-sizing: border-box;
   display: flex;
   flex-direction: column;
   height: 100vh;
   font-family: 'Fira Sans', sans-serif;
   justify-content: center;
   padding: 2rem 0;
   width: 100vw;
}

.row {
   display: flex;
   margin: auto;
}

a {
   text-decoration: none;
}

.btn {
   margin: 0 .5em;
}

/* COLORS */

/* BUTTONS */
.btn {
   align-items: center;
   background-color: white;
   border: 1px solid #cdd2d6 ;
   box-sizing: border-box;
   color: #000000 ;
   display: flex;
   height: 45px;
   letter-spacing: 2px;
   padding: .8em 1em;
   transition: all .3s ease;

}
.btn:hover {
   background-color: #05a8ff ;
   border-color: #05a8ff ;
   color: #ffffff ;
}
/* TOOLTIP */
.tooltip {
   position: relative;
   overflow: hidden;
}
.tooltip:hover {
   overflow: visible;
   opacity: 1;
}
.tooltip-content {
   background: #05a8ff ;
   box-shadow: 0 5px 25px 5px rgba(205,210,214,.8);
   box-sizing: border-box;
   color: #ffffff ;
   font-size: 12px;
   line-height: 1.2;
   letter-spacing: 1px;
   max-width: 200px;
   min-width: 145px;
   padding: 1em;
   position: absolute;
   opacity: 0;
   transition: all .3s ease;
  /* left: calc(100% + 1.5em);
   top: 50%;
   transform: translateY(-50%);*/

}
.tooltip-content:after {
   background: #05a8ff ;
   content: "";
   height: 10px;
   position: absolute;
   transform: rotate(45deg);
   width: 10px;
}


.right {
   left: calc(100% + 1.5em);
   top: 50%;
   transform: translateY(-50%);
}
.right:after {
    left: -5px;
    margin-top: -5px;
    top: 50%;
}
